.vcenter{
    color: #fff;
    display: block;
    margin: auto;


}

.introDiv{
  background-color:  #038D6F;
  padding:0;
  min-height: 300px
}
.panel{
  margin-bottom:1px;
}
.logo{
  width:120px;
  margin: 30px;
}
.signinLogo{
  display: block;
  margin: auto;
  width:120px;

}
.introText{
  color:#fff;
  font-stretch: expanded;
  font-size: 2.5rem;
  font-weight: 300;
}
.appbar{
  background-color: #E0E0E0;
  font-size:15px;
}
